.volumeBar {
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    white 0%,
    white var(--volume-percent),
    theme('colors.gray.800') var(--volume-percent),
    theme('colors.gray.800') 100%
  );

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 0 8px 8px 0;
  }
}
