@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: var(--font-pretendard);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-lg bg-gray-100 px-4 py-2.5 text-gray-800 transition-all delay-75 hover:opacity-80;
  }
  .btn-sm {
    @apply btn text-body3;
  }
  .btn-md {
    @apply btn text-body2;
  }
  .btn-lg {
    @apply btn text-body1;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
